@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.home-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.home-header .text-container {
  flex-basis: 45%;
  width: 100%;
}
.home-header .image-container {
  flex-basis: 45%;
  width: 100%;
}
.home-header .image-container img {
  width: 100%;
}
.home-header .button {
  margin: 10px 0;
}
.home-header h4 {
  padding: 15px 0;
}

.features-section {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: relative;
  padding: 150px 0;
}
.features-section .feature-item {
  align-items: center;
  display: flex;
  display: relative;
  flex-basis: 33%;
  flex-direction: row;
  justify-content: center;
}
.features-section .feature-item .icon-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-basis: 30%;
  max-width: 80px;
}
.features-section .feature-item .icon-container .fa-layers {
  left: 0;
}
.features-section .feature-item .text-container {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  flex-basis: 70%;
}
.features-section .feature-item .text-container h3 {
  font-weight: 700;
  font-size: 1.25rem;
  padding: 5px 0;
}
.features-section .feature-item .text-container p {
  line-height: 1.4;
}

footer {
  height: auto;
  background-color: #0057fc;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  position: relative;
}
footer img {
  max-width: 300px;
  width: 100%;
  right: 10%;
  bottom: 0;
  position: absolute;
}
footer h3 {
  color: #FFFFFF;
}
footer h4 {
  color: #FFFFFF;
  padding-top: 5px;
  font-weight: 700;
}
footer h4 span {
  display: block;
}
footer span {
  display: block;
  margin-top: 2px;
}
footer p {
  margin-bottom: 2px;
  color: #FFFFFF;
  line-height: 1.7;
}
footer a {
  display: inline-block;
  color: #FFFFFF;
  margin-inline: 4px;
  transition: 500ms;
}
footer a:hover, footer a:focus {
  color: #FFDD0F;
}

.footer-top {
  display: flex;
  width: 75%;
  text-align: left;
  justify-content: space-evenly;
  padding-bottom: 25px;
}
.footer-top a {
  margin: 0;
}
.footer-top .footer-left {
  flex-basis: 30%;
}
.footer-top .footer-left h3 {
  padding-bottom: 15px;
}
.footer-top .footer-left h3 span {
  display: inline-block;
}
.footer-top .footer-left p {
  line-height: 1.7;
  margin-right: 40px;
}
.footer-top .footer-right {
  flex-basis: 60%;
  margin-left: 100px;
  margin-right: 200px;
  display: flex;
  justify-content: space-between;
}
.footer-top .footer-right .footer-column {
  flex-basis: 20%;
}
.footer-top .footer-right .footer-column li {
  padding-bottom: 0.75rem;
}
.footer-top .footer-right .footer-column.right {
  flex-basis: 30%;
}
.footer-top .footer-right .footer-column.right h4 {
  padding-bottom: 15px;
}
.footer-top .footer-right .footer-column.right p {
  margin: 0;
  padding: 0;
}

.footer-bottom p, .footer-bottom a {
  font-size: 0.9rem;
}

.nav-bar {
  width: 100%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  transition: 300ms;
}
.nav-bar h1 {
  display: flex;
  align-items: center;
}
.nav-bar h1 .h1-link {
  font-size: 1.5rem;
}

.nav-ul {
  display: flex;
  justify-content: flex-end;
}

.menu-link {
  padding: 0 20px;
  font-weight: 700;
  margin-inline: 5px;
}
.menu-link:hover, .menu-link:focus {
  color: #0057fc;
}

.burger-menu {
  background: none;
  font-size: 2.2rem;
}

.create-poll-form {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 60%;
  margin: 0 auto;
  padding: 3%;
  box-shadow: 0px 3px 20px 2px rgba(122, 122, 122, 0.36);
}
.create-poll-form h3 {
  margin: 1% 0 1% 0;
}
.create-poll-form .poll-input {
  width: 100%;
  height: auto;
  padding: 2%;
  margin: 2% 0;
  border: 1px solid #555555;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 1.6rem;
}
.create-poll-form .button-create {
  justify-content: space-evenly;
}
.create-poll-form button.button.primary, .create-poll-form a.button {
  margin: 10px 10px 0 10px;
}

.create-poll-container {
  height: auto;
  padding-bottom: 100px;
}
.create-poll-container h2 {
  text-align: center;
  margin-bottom: 40px;
}

.create-poll-option {
  width: 100%;
  margin: 0 auto;
}
.create-poll-option input {
  width: 100%;
  height: auto;
  padding: 2%;
  margin: 2% 0;
  border: 1px solid #555555;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  width: 100%;
}

fieldset,
button {
  border: none;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

a,
button {
  display: inline-block;
  text-decoration: none;
  color: #555555;
  transition: 300ms;
}
a.button,
button.button {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
}

html {
  background-color: #FFFFFF;
  height: auto;
}

.app {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-h1 h2 {
  margin: 3% 0 5% 0;
}

.voting-question h2 {
  font-size: 16px;
}
.voting-question h2 span {
  margin-top: 12px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.2941176471);
  width: 33%;
  margin: 10px 0;
}

.button {
  display: inline-block;
  color: #555555;
  transition: 300ms;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}
.button.primary {
  background-color: #0057fc;
  color: #FFFFFF;
}
.button.primary a {
  color: #FFFFFF;
  text-decoration: none;
}
.button.primary a:visited {
  color: #FFFFFF;
}
.button.remove {
  background-color: rgba(170, 170, 170, 0.5803921569);
  color: #555555;
}

html {
  font-size: 16px;
  color: #555555;
  font-family: "Poppins", sans-serif;
}

a,
p,
button {
  font-size: 16px;
}

h1 {
  font-size: 3.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #555555;
  margin: 0;
  text-transform: capitalize;
  padding: 25px 0;
}

h2 {
  font-size: 3.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #555555;
  margin: 0;
  text-transform: capitalize;
  padding: 25px 0;
}

h4 {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #555555;
  margin: 0;
  padding: 20px 0;
}

.poll-input {
  font-size: 16px;
  color: #555555;
}

.results h2 {
  color: #555555;
}

h3 {
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #555555;
}

.find-poll-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5%;
}
.find-poll-section h2 {
  width: 100%;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 40px;
}

.find-poll-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 40%;
  min-height: 200px;
  padding: 30px 35px;
  margin: 20px;
  box-shadow: 0px 3px 20px 2px rgba(122, 122, 122, 0.36);
  border-radius: 10px;
  transition: 300ms;
}
.find-poll-container:hover {
  box-shadow: 0px 1px 20px 1px rgba(0, 86, 246, 0.4117647059);
}
.find-poll-container h3 {
  margin: 8% 0 5% 0;
  text-align: left;
  font-weight: 500;
}
.find-poll-container .button.secondary {
  padding: 10px 0;
}

.h3-container {
  display: flex;
  align-items: center;
}

.find-poll-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.find-poll-links .button {
  min-width: 130px;
  text-align: center;
}

.delete-button {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2.2rem;
  background-color: transparent;
  color: rgba(170, 170, 170, 0.5803921569);
  cursor: pointer;
}
.delete-button:hover, .delete-button:focus {
  scale: 0.9;
}
.delete-button:visited {
  color: #555555;
}

.bottom-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0 50px 0;
}
.bottom-graphic img {
  max-width: 300px;
  width: 100%;
  padding-bottom: 50px;
}
.bottom-graphic h3 {
  padding-bottom: 20px;
}

.voting-booth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 20px 2px rgba(122, 122, 122, 0.36);
  border-radius: 20px;
  max-width: 55%;
  margin: 0 auto;
  padding: 50px 30px;
  margin-bottom: 50px;
}
.voting-booth-container img {
  width: 65%;
}
.voting-booth-container h3 {
  text-align: center;
}
.voting-booth-container h4 {
  padding: 50px 0 0 0;
  text-align: center;
}
.voting-booth-container h2 {
  padding: 0 0 25px 0;
  text-align: center;
}
.voting-booth-container label {
  font-size: 1.75rem;
  font-family: "Poppins", sans-serif;
  color: #555555;
  padding-left: 25px;
}
.voting-booth-container input[type=radio] {
  accent-color: #0057fc;
  height: 28px;
  width: 28px;
  margin-top: 2px;
  cursor: pointer;
}
.voting-booth-container .poll-heading {
  font-size: 2.25rem;
  display: block;
  margin-bottom: 10px;
}

.voting-form {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}
.voting-form .selection-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.voting-form .selection-container input {
  margin-right: 25px;
}

.input-container {
  padding-bottom: 20px;
  display: flex;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-container .button {
  min-width: 200px;
  text-align: center;
  margin: 0 10px;
}
.button-container .secondary-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
}
.button-container .secondary-buttons .button {
  background-color: rgba(170, 170, 170, 0.5803921569);
  color: #333333;
}
.button-container .secondary-buttons a {
  width: 200px;
  text-align: center;
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirmation-container img {
  height: auto;
  max-width: 30%;
}
.confirmation-container h3 {
  margin: 25px 0 15px;
}
.confirmation-container a {
  margin-bottom: 30px;
}

.button-container {
  padding-bottom: 50px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0px 3px 20px 2px rgba(122, 122, 122, 0.36);
}
.results h4 {
  padding: 0 0 50px 0;
}

.results-container {
  display: flex;
  width: 100%;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.results-h2 {
  font-size: 16px;
  color: #555555;
  margin: 10px 0;
}

.progress-bars-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}
.progress-bars-container .single-result-container {
  padding-bottom: 60px;
}
.progress-bars-container h3 {
  margin: 0;
  font-size: 1.75rem;
  padding: 0 0 25px 0;
}
.progress-bars-container p {
  margin: 0;
  text-align: right;
  padding: 5px 5px 0 0;
}

.results-option {
  display: block;
  font-weight: 700;
}

.progress-bar-one,
.progress-bar-two {
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}

.results-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
  justify-content: space-evenly;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question-container h4 {
  padding: 10px 0 0 0;
  text-align: center;
  margin: 0;
}
.question-container h2 {
  font-size: 2.25rem;
  display: block;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
}

.confirmation-container {
  display: flex;
}
.confirmation-container a.button.primary {
  margin: 10px 0 10px 0;
}

.confirm-graphic {
  display: flex;
  justify-content: center;
}
.confirm-graphic img {
  height: auto;
  flex-basis: 50%;
  max-width: 26%;
  margin: 50px 0 50px 0;
}

.confirmation-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  margin-bottom: 25px;
  justify-content: space-evenly;
  align-items: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.menu-link-ham {
  display: none;
}

.hamburger-nav {
  display: flex;
}
.hamburger-nav h1 {
  width: 80%;
}

.burger-container {
  width: 20%;
  display: flex;
  justify-content: right;
}

.burger-nav {
  height: 5em;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  display: none;
}

.burger-menu {
  height: 1.7em;
  padding: 2px;
  width: 2.35em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  z-index: 3;
  border: 2px solid #555555;
}
.burger-menu:hover, .burger-menu:focus {
  border: 2px solid #555555;
}

.burger-bar {
  width: 2em;
  height: 0.5em;
  background-color: #555555;
  border-radius: 0.5em;
}

.menu {
  width: 240px;
  height: 290px;
  background-color: white;
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  border: solid #555555 2px;
  border-radius: 30px;
  flex-direction: column;
}
.menu .menu-link {
  margin-top: 65px;
  font-size: 2.2rem;
  text-align: left;
}
.menu .menu-link-two {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.3em, 0em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.6em, 0.3em);
  transition: ease-out 0.5s;
}

.burger-bar.unclicked {
  transform: rotate(0) translate 0;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  margin-bottom: 6px;
  padding: 3px;
}

@media (max-width: 1260px) {
  .create-poll-container {
    height: auto;
  }
  .create-poll-container h2 {
    margin-top: 0;
  }
  .find-poll-links {
    flex-direction: column;
    align-items: center;
  }
  .find-poll-links .button {
    margin: 2% 0 2% 0;
  }
  .home-graphic img {
    max-width: 47%;
  }
  .find-poll-links {
    flex-direction: column;
    align-items: center;
  }
  .find-poll-links .button {
    margin: 2% 0 2% 0;
  }
  .voting-ticket {
    display: flex;
    justify-content: center;
  }
  .voting-booth-container {
    max-width: 65%;
  }
  .voting-booth-container .poll-heading {
    font-size: 2.2rem;
  }
}
@media (max-width: 800px) {
  .create-poll-container {
    height: auto;
  }
  .create-poll-container h2 {
    margin-bottom: 60px;
  }
  .find-poll-container {
    flex-basis: 48%;
  }
  .find-poll-container .delete-button {
    font-size: 16px;
  }
  .button-container button.primary {
    margin: 0;
  }
  .button-container .secondary-buttons {
    flex-direction: column;
  }
  .button-container .secondary-buttons a {
    margin: 0;
  }
  .button-container .secondary-buttons button {
    margin: 10px 0;
  }
  .menu-link-ham {
    display: block;
  }
  .burger-bar {
    z-index: 3;
  }
  .burger-nav {
    display: block;
  }
  .hamburger-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    align-items: center;
  }
  .hamburger-nav h1 {
    width: 150%;
  }
  .header-h2 h2 {
    font-size: 16px;
    width: 75%;
    margin: auto;
  }
  .home-graphic {
    margin: 4% 0;
  }
  .home-graphic img {
    max-width: 60%;
    flex-basis: 60%;
  }
  .nav-bar {
    display: none;
  }
  .confirmation-container h2 {
    font-size: 16px;
  }
  .voting-booth-container {
    max-width: 80%;
  }
}
@media (max-width: 560px) {
  .menu-link-ham {
    display: block;
  }
  .create-poll-form {
    width: 80%;
  }
  .create-poll-container h2 {
    font-size: 16px;
  }
  .create-poll-container h3 {
    font-size: 1.8rem;
  }
  .find-poll-container {
    flex-basis: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
  .find-poll-container h3 {
    margin: 20% 0 5% 0;
  }
  .visible {
    width: 220px;
  }
  .results .results-h2 {
    font-size: 2.2rem;
  }
  .results .results-bar-h2 {
    font-size: 1.8rem;
  }
  .voting-booth-container {
    max-width: 90%;
  }
  .voting-question h3 {
    font-size: 16px;
  }
  .voting-question h3 .poll-heading {
    font-size: 2.2rem;
  }
  .button-container .button.primary {
    font-size: 16px;
    margin: 10px 0 0 0;
  }
  .button-container .button.secondary {
    margin: 10px 0 0 0;
  }
  .confirmation-container h2 {
    font-size: 16px;
  }
  .confirmation-container .button-container {
    margin: 0;
  }
}
@media (max-width: 444px) {
  .results-buttons {
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 100%;
    align-items: center;
  }
  .results-buttons a {
    width: inherit;
    text-align: center;
  }
  .results-buttons :first-child {
    margin-bottom: 12px;
  }
  .progress-bars-container {
    margin-bottom: 0px;
  }
}
@media (max-width: 428px) {
  .menu-link-ham {
    display: block;
  }
  .header-h2 h2 {
    font-size: 16px;
  }
  .home-graphic {
    margin: 8% 0;
  }
  .home-graphic img {
    max-width: 100%;
    flex-basis: 100%;
  }
  .home-button-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .home-button-box .button {
    min-width: 140px;
  }
  .nav-bar {
    display: none;
  }
  .nav-wrap {
    display: inline-block;
  }
  .burger-bar {
    z-index: 3;
  }
  .burger-nav {
    display: block;
  }
  .burger-container {
    width: 70%;
  }
  .create-buttons {
    display: flex;
    flex-direction: column;
  }
  .create-poll-form {
    width: 90%;
  }
  .create-poll-form .poll-input {
    margin-top: 10px;
  }
  .create-poll-container h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
  .create-poll-container h3 {
    font-size: 1.8rem;
    text-align: center;
  }
}
.error-img {
  max-width: 60%;
  margin: auto;
}

.error-btn {
  text-align: center;
}

.swal2-html-container,
.swal2-popup {
  font-size: 1.5rem;
  color: #555555;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}

.swal2-styled {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border: none;
}
.swal2-styled.swal2-confirm {
  background-color: #FF1F25;
  color: #FFFFFF;
  border-radius: 20px;
  border: none;
}
.swal2-styled.swal2-cancel {
  background-color: rgba(170, 170, 170, 0.5803921569);
  border-radius: 20px;
  border: none;
}