@use "./variables" as *;
@use "./mixins" as *;

// Default Styles

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  width: 100%;
}

fieldset,
button {
  border: none;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

a,
button {
  display: inline-block;
  text-decoration: none;
  color: $heading-primary;
  transition: 300ms;

  &.button {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: $wt-bold;
  }
}

html {
  background-color: $white;
}

.app {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-h1 {
  h2 {
    margin: 3% 0 5% 0;
  }
}

.voting-question h2 {
  font-size: $fs-default;

  span {
    margin-top: 12px;
  }
}

hr {
  border: 1px solid #ffffff4b;
  width: 33%;
  margin: 10px 0;
}

//button styling
.button {
  display: inline-block;
  color: $heading-primary;
  transition: 300ms;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: $wt-bold;
  cursor: pointer;

  &.primary {
    background-color: $blue;
    color: $white;

    a {
      color: $white;
      text-decoration: none;

      &:visited {
        color: $white;
      }
    }
  }
}