@use './variables' as *;
@use './mixins' as *;

.error-container {
  max-width: 50%;
  margin: auto;
  img {
    width: 100%;
  }
}

.error-btn {
  text-align: center;
  padding-bottom: 30px;
}

.error-h2 {
  font-size: $fs-headingthree;
  text-align: center;
}