@use "./variables" as *;

// Headings
@mixin heading($size-value) {
    font-size: $size-value;
    font-family: $fontfam;
    font-weight: $wt-bold;
    color: $heading-primary;
  }

@mixin body($size-value){
  font-size: $size-value;
  font-family: $fontfam;
  font-weight: $wt-default;
  color: #555555;
}