@use "./variables" as *;
@use "./mixins" as *;

// Navigation Styles
.nav-bar {
  width: 100%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  transition: 300ms;

  h1 {
    display: flex;
    align-items: center;

    .h1-link {
      font-size: $fs-headingthree;
    }
  }
}

.create-find {
  flex-basis: 25%;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
}

.menu-link {
  font-weight: $wt-bold;

  &:hover,
  &:focus {
    color: $blue;
  }
}

.burger-menu {
  background: none;
  font-size: $fs-med;
}