@use "./variables" as *;

// attempting to change font size of sweetalert2 text
.swal2-html-container,
.swal2-popup {
  font-size: 1.8rem;
  color: $heading-primary;
  border-radius: 20px;
  font-family: $fontfam;
}

.swal2-styled {
  color: $white;
  padding: 10px 20px;
  font-family: $fontfam;
  font-weight: $wt-bold;
  border: none;
  &.swal2-confirm {
    background-color: $heading-primary;
    color: $heading-primary;
    border-radius: 20px;
    border: none;
  }
  &.swal2-cancel {
    background-color: $heading-primary;
    border-radius: 20px;
    border: none;
  }
}