@use './variables' as *;
@use './mixins' as *;

html {
  font-size: $fs-default;
  color: $font-body; 
  font-family: $fontfam;
}

a, 
p,
button {
  font-size: $fs-default;
}

h1 {
  @include heading($fs-headingprim);
  margin: 0;
  text-transform: capitalize;
  padding: 25px 0;
}

h2 {
  @include heading($fs-headingprim);
  margin: 0;
  text-transform: capitalize;
  padding: 25px 0;
}

h4 {
  @include body($fs-headingfour);
  margin: 0;
  padding: 20px 0;
}

.poll-input {
  font-size: $fs-default;
  color: $heading-primary;
}

.results h2 {
  color: $heading-primary;
}