@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// Colours
$white: #FFFFFF;
$font-body: #555555;
$heading-primary: #555555;;
$heading-secondary: #333333;
$blue: #0057fc;
$blue-hover: #0043bf;
$yellow: #FFDD0F;
$red: #FF1F25;

// Fonts Sizes
$fs-default: 16px;
$fs-headingprim: 3.25rem; //56px
$fs-headingsec: 2.25rem; //36px
$fs-headingthree: 1.5rem; //24px
$fs-headingfour: 1.25rem; //20px
$fs-accent: 0.875rem; //14px
$fs-footer: 1.125rem; //18px
$fs-med: 2.2rem;
$fs-small: 1.8rem;


// Font Weights
$wt-default: 400;
$wt-medium: 500;
$wt-semibold: 600;
$wt-bold: 700;


// Font Family
$fontfam: 'Poppins', sans-serif;