@use "./variables" as *;
@use "./mixins" as *;

.voting-booth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 20px 2px rgba(122, 122, 122, 0.36);
  border-radius: 20px;
  max-width: 55%;
  margin: 0 auto;
  padding: 50px 30px;
  margin-bottom: 50px;
  img {
    width: 65%;
  }
  h3 {
    text-align: center;
  }
  h4 {
    padding: 50px 0 0 0;
    text-align: center;
  }
  h2 {
    padding: 0 0 25px 0;
    text-align: center;
  }
  label {
    font-size: 1.75rem;
    font-family: $fontfam;
    color: $heading-primary;
    padding-left: 25px;
  }

  input[type="radio"] {
    accent-color: $blue;
    height: 28px;
    width: 28px;
    margin-top: 2px;
    cursor: pointer;
  }

  .poll-heading {
    font-size: $fs-headingsec;
    display: block;
    margin-bottom: 10px;
  }
}

.voting-form {
  display: flex;
  flex-direction: column;
  margin: 25px 0;

  .selection-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    input {
      margin-right: 25px;
    }
  }
}

.input-container {
  padding-bottom: 20px;
  display: flex;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .button {
    min-width: 200px;
    text-align: center;
    margin: 0 10px;
  }
  .secondary-buttons {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    .button {
      background-color: #aaaaaa94;
      color: $heading-secondary;
    }
    a {
      width: 200px;
      text-align: center;
    }
  }
}
